<form action="/<%= @pokemon.id  %>" method = "POST">
  <% if(@obj[:id] != "") %>
    <input type="hidden" name="_method" value="PUT">
  <% end %>

  <div class="form-group">
    <label for="exampleFormControlInput1">Index</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter index of pokemon" name="id" value = "<%= @pokemon.id %>">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Name</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter name of pokemon" name="name">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Type</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter type of pokemon" name="type">
  </div>
  <div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Location</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter location of pokemon" name="location">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Description</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter description for pokemon" name="description"></textarea>
  </div>
  
  <div>
    <input type="submit" value="Save Post">
  </div>
</form>