<!-- yield in layout.rb is where the elements below is placed  -->
<!-- linking html element navigation bar from navigation to veiw using erb -->

<% @pokemons.each do |pokemon| %>
	<div>
		<h3>#<%= pokemon.index %> <a href="/<%= pokemon.id %>"><%= pokemon.name %></a></h3>
		<p>Type: <%= pokemon.type %></p>
	</div>
<% end %>