<div class="row">
	<div class="col-md-12 spacing"></div>
</div>
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8 boxColor">
		<div class="boxMove">
			<div class="row">
				<div class="col-md-12 spacing"></div>
			</div>
			<h2>Edit Champion</h2>
			<%= erb(:'partials/form') %>
			<div class="row">
				<div class="col-md-12 spacing"></div>
			</div>
		</div>
	</div>
	<div class="col-md-2"></div>
</div>
<div class="row">
	<div class="col-md-12 spacing"></div>
</div>