<% @champions.each do |champion| %>
<div class="row">
	<div class="col-md-12 spacing"></div>
</div>
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8 boxColor">
		<div class="boxMove">
			<h3><a href="/<%= champion.id %>"><%= champion.name %></a></h3>
  			<p>Position: <%= champion.position %></p>
		</div>
	</div>
	<div class="col-md-2"></div>
</div>
<% end %>