<div class="row">
	<div class="col-md-12 spacing"></div>
</div>
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8 boxColor">
		<div class="boxMove">
			<h2><%= @champion.name %></h2>
			<p><h4>Position:</h4> <%= @champion.position %></p>
			<p><h4>Cost:</h4> <%= @champion.cost %></p>
		</div>
	</div>
	<div class="col-md-2"></div>
</div>
<div class="row">
	<div class="col-md-12 spacing"></div>
</div>