/** {
    border: 2px solid black;
    }*/
#flag {

    display: inline-block;
    height: 100%;
    width: 100%;
    border: 2px solid black;

}
.black {
    background-color: black;
    height: 100vh;
    width: 33%;
    display: inline-block;
    float: left;
}
.yellow {
    background-color: yellow;
    height: 100vh;
    width: 33%;
    display: inline-block;
    float: left;
}
.red {
    background-color: red;
    height: 100vh;
    width: 33%;
    display: inline-block;
    float: left;
}
.black2 {
    background-color: black;
    height: 33vh;
    width: 100vw;

}
.yellow2 {
    background-color: yellow;
    height: 33vh;
    width: 100vw;
}
.red2 {
    background-color: red;
    height: 33vh;
    width: 100vw;
}
#flag2 {
    display: none;

}
@media screen and (max-width: 600px){
    /*#flag div {
        display: block;
        width: 100%;
    }*/
    #flag2 {

        display: block;


    }
    #flag {
        display: none;
    }


}