.title{
	background-color: black;
	color: #C69F3F;
	text-align: center;
	font-family: Friz Quadrata;
	font-size: 100px;
}

.background{
	background-image: url("../pictures/background.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
}

.contentColor{
	background-color: #425363;
	height: 60vh;
	opacity: 0.5;

}

.navColor{
	background-color: #092949;
}

.navbar-default {
  background: #000000;
}